{{- $pcType := promptStringOnce . "pcType" "PC type (personal/work)" -}}
{{- $opAccount := promptStringOnce . "onepassword.account" "1Password account ID (op account list で確認)" -}}
{{- $sourceDir := .chezmoi.sourceDir -}}

sourceDir: "{{ $sourceDir }}"

data:
  pcType: {{ $pcType | quote }}

onepassword:
  account: {{ $opAccount | quote }}
