{{- if eq .pcType "work" -}}
{{- $gitNameWork := onepasswordRead "op://Private/Dotfiles Config/git_work_name" -}}
{{- $gitEmailWork := onepasswordRead "op://Private/Dotfiles Config/git_work_email" -}}

[user]
  name = {{ $gitNameWork }}
  email = {{ $gitEmailWork }}
{{- end }}
