{{- if eq .pcType "work" -}}
{{- $gitNameWork := onepasswordRead "op://Private/Dotfiles Config/git_work_name" .onepasswordAccount -}}
{{- $gitEmailWork := onepasswordRead "op://Private/Dotfiles Config/git_work_email" .onepasswordAccount -}}

[user]
  name = {{ $gitNameWork }}
  email = {{ $gitEmailWork }}
{{- end }}
