# GitHub authentication is intentionally delegated to gh auth, SSH,
# or the platform credential helper. Do not embed PATs in remote URLs.
[url "git@github.com-personal:massy22/"]
  insteadOf = https://github.com/massy22/
  insteadOf = git@github.com:massy22/

{{- if eq .pcType "work" }}
{{- $githubWorkOrg := onepasswordRead "op://Private/Dotfiles Config/github_work_org" }}
{{- $githubEnterpriseHost := onepasswordRead "op://Private/Dotfiles Config/github_work_enterprise_host" }}

[url "git@github.com-work:{{ $githubWorkOrg }}/"]
  insteadOf = https://github.com/{{ $githubWorkOrg }}/
  insteadOf = git@github.com:{{ $githubWorkOrg }}/

{{- if $githubEnterpriseHost }}
[hub]
  host = {{ $githubEnterpriseHost }}
{{- end }}
{{- end }}
