#!/bin/bash
EMAIL=$(gcloud config get-value account 2>/dev/null)
echo "{\"Authorization\": \"Bearer {{ onepasswordRead "op://Private/Dotfiles Config/otel_work_bearer_token" }}\", \"X-User-Email\": \"${EMAIL}\"}"
